$tablet-width: "(min-width: 768px)";
$tablet-width-additional: "(min-width: 980px)";
$desktop-width: "(min-width: 1200px)";
$mobile-width-only: "(max-width: 767px)";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";

$y-main: #ffe27f;
$y-sub: #FFE393;
$y-shad: #efd58e;
$y-glare: #ffeaae;
$orange: #ffc600;
