// @font-face {
//   font-family: "PT Sans Narrow";
//   src: url(../../fonts/ptsansnarrow.woff2),
//         url(../../fonts/ptsansnarrow.woff);
//   font-weight: normal;
// }
// @font-face {
//   font-family: "PT Sans Narrow";
//   src: url(../../fonts/ptsansnarrowbold.woff2),
//        url(../../fonts/ptsansnarrowbold.woff);
//   font-weight: bold;
// }
@font-face {
  font-family: "Gilroy";
  src: url(../../fonts/gilroyextrabold.woff2),
       url(../../fonts/gilroyextrabold.woff);
  font-weight: 900;
}
@font-face {
  font-family: "Gilroy";
  src: url(../../fonts/gilroylight.woff2),
       url(../../fonts/gilroylight.woff);
  font-weight: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../fonts/opensanslight.woff2),
       url(../../fonts/opensanslight.woff);
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../fonts/opensans.woff2),
       url(../../fonts/opensans.woff);
  font-weight: normal;
}