@mixin opaсity-effect($normal: 1, $hover: 0.6, $active: 0.3) {
  opacity: $normal;
  transition: opacity 0.1s;  

  &:hover {
    opacity: $hover;
	}

	 &:active {
    opacity: $active;
	}
}

@mixin opaсity-effect-r {
  opacity: 0.4;
  transition: opacity 0.1s;  

  &:hover {
    opacity: 0.6;
  }

   &:active {
    opacity: 1;
  }
}

@mixin opaсity-30-60-10 {
  opacity: 0.3;
  transition: opacity 0.1s;  

  &:hover {
    opacity: 0.6;
	}

	 &:active {
    opacity: 0.1;
	}
}


