<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Map</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.min.css">
	<link rel="stylesheet" href="css/smooth-display.css">
</head>
<body>
include partials/_header.pug
+header("href='index.html'")
<main>
	<div class="main__header">
		<h1 class="main__title">Карта проезда</h1>
		<ol class="breadcrumps main__breadcrumps">
			<li class="breadcrumps__item"><a class="breadcrumps__link" href="">Главная</a></li>
			<li class="breadcrumps__item"><a class="breadcrumps__link" href="">Карта</a></li>
		</ol>
	</div>
	<iframe class="main__content main__content--fluid" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2249.00162198995!2d37.540780235084306!3d55.68895955628833!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x553c69cb728f612!2z0KLQtdCw0YLRgCDQkNGA0LzQtdC90LAg0JTQttC40LPQsNGA0YXQsNC90Y_QvdCw!5e0!3m2!1sru!2sua!4v1494497876961" width="320" height="500" style="border:0" allowfullscreen></iframe>
</main>
include partials/_footer.pug
<script src="js/smooth-display.js"></script>
<script src="js/hamburger.js"></script>
<script src="js/main.js"></script>
</body>
</html>

