<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Message</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.min.css">
	<link rel="stylesheet" href="css/smooth-display.css">
</head>
<body>
	include partials/_header.pug
	+header("href='index.html'")
<main>
	<div class="main__header">
		<h1 class="main__title">Связаться с нами</h1>
		<ol class="breadcrumps main__breadcrumps">
			<li class="breadcrumps__item"><a class="breadcrumps__link" href="">Главная</a></li>
			<li class="breadcrumps__item"><a class="breadcrumps__link" href="">Обратная связь</a></li>
		</ol>
	</div>
	<div class="main__content main__content--fluid">
		<article class="message">
		<h2 class="message__title">Форма для отправки сообщений</h2>
		<button class="message__btn-switch message__btn-switch--none"></button>
		<form class="form" action="#" method="POST" name="message-form">
			<p class="form__item form__name">
				<label for="user-name">Ваше имя</label>
				<input id="user-name" type="text" placeholder="Представьтесь пожалуйста">
			</p>
			<p class="form__item form__email">
				<label for="user-email">Ваш e-mail</label>
				<input id="user-email" type="email" placeholder="Для отправки ответа">
			</p>
			<p class="form__item form__text">
				<label for="user-msg">Текст письма:</label>
				<textarea name="form__text"  id="user-msg" placeholder="В свободной форме"></textarea>
			</p>
			<button class="btn__unfold form__btn">Отправить</button>
		</form>
	</article>
	</div>
</main>
include partials/_footer.pug
<script src="js/smooth-display.js"></script>
<script src="js/hamburger.js"></script>
<script src="js/main.js"></script>
</body>
</html>