.btn__unfold {
  @include btn;
  display: inline-block;

  margin: 16px 0;

  @include font-accent(18px, 8px, 900, #000, 2px);
  text-transform: uppercase;

  background-color: #ffc600;
  transition: padding 0.2s ease, 
              margin 0.2s ease;
  outline: none;
  &:hover {
    margin: 0;
    padding: 16px 0;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

@mixin btn__switch {
  width: 54px;
  height: 54px;

  border-radius: 50%;

  background-color: rgba(255, 198, 0, 0.5);

  transition: background-color 0.3s;
  outline: none;

  &:hover {
    background-color: rgba(255, 198, 0, 1);
  }
  &:active {
  }

  &::before,
  &::after {
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 26px;
    height: 2px;

    margin: auto;

    background-color: #fff;
    transition: transform 0.3s;
  } 

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before, 
  &:active::after {
    opacity: 0.3;
  }

  &:hover::before {
    transform: rotate(135deg);
  }

  &:hover::after {
    transform: rotate(45deg);
  }
}

