.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog__title {
  @include vh;
}

.catalog__item {
  position: relative;
  // width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.catalog__item-img {
  // width: 360px;
  // height: 380px;
  
  margin-bottom: 25px;
  transition: opacity 0.2s;
}

.catalog__item img {
  // max-width: 100%;
  // width: ;
}

.catalog__item-actions:hover ~ .catalog__item-img,
.catalog__item-img:hover {
  opacity: 0.7;
}

.catalog__item-actions {
  display: none;
  position: absolute;
  width: 150px;
  top: 35%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
  animation: smooth-hide 0.3s;
}

.catalog__item:hover .catalog__item-actions {
  display: block;
}

.catalog__item-btn {
  width: 150px;
}

.catalog__item-compare {
  display: block;

  margin-top: 20px;

  text-align: center;
  text-decoration: none;
  @include font(13px, 13px, 300, #000);
  @include opaсity-effect(0.5, 1, 0.2);
}

.catalog__item-text {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.catalog__item-title {
  @include font-accent(14px, 20px, 900, #000);
}

.catalog__item-price {
  white-space: nowrap;
  @include font(14px, 20px, 300, #000);
}

@media #{$tablet-width} {  
  .catalog__item {
    width: 47%;
    margin: 0;
    margin-bottom: 50px;
  }
}

@media #{$tablet-width-additional} {
  .catalog__item-price {
    @include font(15px, 20px, 300, #000);
  }  

  .catalog__item-title {
    @include font-accent(18px, 20px, 900, #000);
  }

  .catalog__item-btn {
    width: 200px;
  }
  .catalog__item-actions {
    width: 200px;
  }

  .catalog__item-btn {
    width: 200px;
  }

  .catalog__item-compare {
    margin-top: 30px;
  }
}